<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="First">


	<!--查询所有的数据-->
	<select id="selectByFirst" resultType="First" parameterType="map">
		select
          comcode,NetProfit,OperRevenue,PubDate,endDate,ReportType
        from
           gangao.COM_INCOMESTATEMENTNAS
        WHERE ComCode = #{ComCode} and dataFlag = 101
          and ReportType = #{reportType}
          and EndDate = #{endDate}
	</select>


    <select id="getFirstListByCode" resultType="First" parameterType="map">
         select
            c.comcode,c.NetProfit,c.OperRevenue,c.PubDate,c.endDate,c.ReportType
         from
            gangao.COM_INCOMESTATEMENTNAS c
         INNER JOIN
            (
             select a.COMCODE
                FROM gangao.STK_BASICINFO a
             INNER JOIN
              (select STOCKCODE from datacenter.intelligent_stock) b
             on a.TRADINGCODE = b.STOCKCODE
             and a.SecuCategoryCodeII = '1001'
             )d
        on c.comcode = d.COMCODE
        and c.dataFlag = 101
        and c.EndDate = #{endDate}
        and c.ReportType = #{reportType}
        ORDER BY c.comcode
    </select>

</mapper>