<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="TotalNum">


    <select id="getTotalNumList" resultType="TotalNum" parameterType="map">
         select
           c.comcode,c.enddate,c.TotalSH
         from
            gangao.COM_SHNUMBER c
         INNER JOIN
            (
             select a.COMCODE
                FROM gangao.STK_BASICINFO a
             INNER JOIN
              (select STOCKCODE from datacenter.intelligent_stock) b
             on a.TRADINGCODE = b.STOCKCODE
             and a.SecuCategoryCodeII = '1001'
             )d
        on c.COMCODE = d.COMCODE
        and c.InfoType = 20
        and c.EndDate = #{endDate}
        ORDER BY c.comcode
    </select>

</mapper>